@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fraunces", serif;
}

/*--------HEADER-CSS---------*/
.navbar-brand img {
    width: 10%;
    top: -17px;
}

.navbar {
    background-image: linear-gradient(rgba(0, 128, 129, 0.9), rgba(0, 128, 129, 0.9)), url(Images/header.png);
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
}

.nav-btn:hover {
    background: #fff;
    color: #EE8529 !important;
}

.nav-item a.active {
    background: #ffffff23 !important;
    border-radius: 4px;
}

.nav-item a:hover {
    background: #ffffff23;
    border-radius: 4px;
}

@media only screen and (max-width:767px) {
    .navbar-brand img {
        width: 27%;
    }

    .navbar-nav li a {
        color: #000 !important;
    }

    .navbar-nav li button {
        margin-left: 20px;
    }

    .navbar-toggler {
        background-color: #fff !important;
    }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
    .navbar-brand img {
        width: 16%;
    }

    .navbar-nav li a {
        color: #000 !important;
    }

    .navbar-nav li button {
        margin-left: 20px;
    }

    .navbar-toggler {
        background-color: #fff !important;
    }
}

/*---BACKGROUND---*/
.bg-EE8529 {
    background: #EE8529;
}

.bg-F8F8F8 {
    background: #F8F8F8;
}

.bg-F07C00 {
    background-color: #f07c00;
}

/*---TEXT---*/
.text-008081 {
    color: #008081;
}

.background {
    background-image: url(Images/Blog-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*-----FOOTER-----*/
.icon {
    width: 30px;
    height: 30px;
}