@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fraunces", serif;
}

/*--------HEADER-CSS---------*/
.navbar-brand img {
    width: 10%;
    top: -17px;
}

.navbar {
    background-image: linear-gradient(rgba(0, 128, 129, 0.9), rgba(0, 128, 129, 0.9)), url(Images/header.png);
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
}

.nav-btn:hover {
    background: #fff;
    color: #EE8529 !important;
}

.nav-item a.active {
    background: #ffffff23 !important;
    border-radius: 4px;
}

.nav-item a:hover {
    background: #ffffff23;
    border-radius: 4px;
}

@media only screen and (max-width:767px) {
    .navbar-brand img {
        width: 27%;
    }

    .navbar-nav li a {
        color: #000 !important;
    }

    .navbar-nav li button {
        margin-left: 20px;
    }

    .navbar-toggler {
        background-color: #fff !important;
    }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
    .navbar-brand img {
        width: 16%;
    }

    .navbar-nav li a {
        color: #000 !important;
    }

    .navbar-nav li button {
        margin-left: 20px;
    }

    .navbar-toggler {
        background-color: #fff !important;
    }
}

/*---BACKGROUND---*/
.bg-EE8529 {
    background: #EE8529;
}

.bg-008081 {
    background: #008081;
}

.bg-FEE50E {
    background: #FEE50E;
}

/*---TEXT---*/
.text-008081 {
    color: #008081;
}

.text-4F4F4F {
    color: #4F4F4F;
}

/*-----SECTION-CSS-----*/
.image img {
    width: 90%;
}

.rectangle {
    position: absolute;
    width: 90%;
    height: 65px;
    background: #EE8529;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    bottom: -10px;
    left: 0;
}

.home-btn {
    box-shadow: 4px 4px #000;
}

.home-btn:hover {
    color: #008081 !important;
    background: #fff;
    border: 1px solid #000 !important;
}

@media only screen and (max-width:767px) {
    .image img {
        width: 100% !important;
    }

    .rectangle {
        width: 96%;
        margin-left: 8px;
        margin-right: 8px;
    }

    .detail {
        margin-top: 22px;
    }

    .images {
        margin-top: 15px;
    }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
    .image img {
        width: 100% !important;
    }

    .rectangle {
        width: 100%;
        ;
    }

    .detail {
        margin-top: 20px;
    }

    .images {
        margin-top: 15px;
    }
}

/*-----FOOTER-----*/
.icon {
    width: 30px;
    height: 30px;
}